High Ticket AI Responder.json
{
    "name": "Watch Instantly Campaign & Scrape Lead Website → Add To CRM → Send To Sales Team Slack",
    "flow": [
        {
            "id": 11,
            "module": "instantly:watchEvents",
            "version": 1,
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                }
            }
        },
        {
            "id": 3,
            "module": "clickup:createTaskInList",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 3612212
            },
            "mapper": {
                "team_id": "9012420448",
                "space_id": "90121998037",
                "folder_id": "folderlessList",
                "list_id": "901205659625",
                "name": "{{2.leadFirstName}} {{2.leadLastName}}",
                "assignees": [
                    152533639
                ],
                "due_date_time": false,
                "start_date_time": false,
                "notify_all": false,
                "custom_fields": {
                    "0472589e-fb4b-43b6-bb58-7ec04c1bd64d": "{{2.leadCompanyName}}",
                    "c89b8021-9995-4316-9297-a9b1a79cff76": "{{2.leadEmail}}",
                    "ffd29cc5-7be0-443b-95d5-6c978556fe47": "{{2.leadTitle}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "messages": [
                        {
                            "category": "reference",
                            "severity": "error",
                            "message": "Module references non-existing module '2'."
                        }
                    ]
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "myoProcess Inc October 24 (Saad Belcaid)",
                            "data": {
                                "scoped": "true",
                                "connection": "clickup2"
                            }
                        }
                    },
                    "expect": {
                        "team_id": {
                            "label": "myoprocess Inc"
                        },
                        "space_id": {
                            "label": "Free Builds"
                        },
                        "folder_id": {
                            "label": "<Folderless Lists>"
                        },
                        "list_id": {
                            "label": "Lead List [Tasks: 0]"
                        },
                        "parent_task_id": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "contentType": {
                            "label": "Plain Text"
                        },
                        "assignees": {
                            "mode": "chose",
                            "label": [
                                "Saad Belcaid"
                            ]
                        },
                        "tags": {
                            "mode": "chose"
                        },
                        "status": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "priority": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "due_date_time": {
                            "mode": "chose"
                        },
                        "time_estimate_in": {
                            "label": "Empty"
                        },
                        "start_date_time": {
                            "mode": "chose"
                        },
                        "notify_all": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:clickup2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "team_id",
                        "type": "select",
                        "label": "Workspace",
                        "required": true
                    },
                    {
                        "name": "team_id",
                        "type": "select",
                        "label": "Workspace",
                        "required": true
                    },
                    {
                        "name": "space_id",
                        "type": "select",
                        "label": "Space",
                        "required": true
                    },
                    {
                        "name": "folder_id",
                        "type": "select",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "list_id",
                        "type": "select",
                        "label": "List",
                        "required": true
                    },
                    {
                        "name": "parent_task_id",
                        "type": "select",
                        "label": "Parent Task ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Task Name",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "validate": {
                            "enum": [
                                "markdown"
                            ]
                        }
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                    },
                    {
                        "name": "assignees",
                        "type": "select",
                        "label": "Assignees",
                        "multiple": true
                    },
                    {
                        "name": "tags",
                        "type": "select",
                        "label": "Tags",
                        "multiple": true
                    },
                    {
                        "name": "status",
                        "type": "select",
                        "label": "Status"
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "urgent",
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "due_date",
                        "type": "date",
                        "label": "Due Date"
                    },
                    {
                        "name": "due_date_time",
                        "type": "boolean",
                        "label": "Due Date Time",
                        "required": true
                    },
                    {
                        "name": "time_estimate_in",
                        "type": "select",
                        "label": "Estimated Time in",
                        "validate": {
                            "enum": [
                                "m",
                                "h",
                                "d"
                            ]
                        }
                    },
                    {
                        "name": "start_date",
                        "type": "date",
                        "label": "Start Date"
                    },
                    {
                        "name": "start_date_time",
                        "type": "boolean",
                        "label": "Start Date Time",
                        "required": true
                    },
                    {
                        "name": "notify_all",
                        "type": "boolean",
                        "label": "Notify All",
                        "required": true
                    },
                    {
                        "name": "custom_fields",
                        "type": "collection",
                        "label": "Custom Fields",
                        "spec": [
                            {
                                "name": "0472589e-fb4b-43b6-bb58-7ec04c1bd64d",
                                "type": "text",
                                "label": "Lead Company"
                            },
                            {
                                "name": "c89b8021-9995-4316-9297-a9b1a79cff76",
                                "type": "email",
                                "label": "Lead Email"
                            },
                            {
                                "name": "ffd29cc5-7be0-443b-95d5-6c978556fe47",
                                "type": "text",
                                "label": "Lead Title"
                            }
                        ]
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Task ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Task Name"
                    },
                    {
                        "name": "custom_id",
                        "type": "text",
                        "label": "Custom ID"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "text_content",
                        "type": "text",
                        "label": "Text Content"
                    },
                    {
                        "name": "status",
                        "spec": [
                            {
                                "name": "status",
                                "type": "text",
                                "label": "Status"
                            },
                            {
                                "name": "color",
                                "type": "color",
                                "label": "Color"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "orderindex",
                                "type": "number",
                                "label": "Order Index"
                            }
                        ],
                        "type": "collection",
                        "label": "Status"
                    },
                    {
                        "name": "orderindex",
                        "type": "text",
                        "label": "Order Index"
                    },
                    {
                        "name": "date_created",
                        "type": "date",
                        "label": "Date Created"
                    },
                    {
                        "name": "date_updated",
                        "type": "date",
                        "label": "Date Updated"
                    },
                    {
                        "name": "date_closed",
                        "type": "date",
                        "label": "Date Closed"
                    },
                    {
                        "name": "archived",
                        "type": "boolean",
                        "label": "Archived"
                    },
                    {
                        "name": "creator",
                        "spec": [
                            {
                                "name": "id",
                                "type": "number",
                                "label": "User ID"
                            },
                            {
                                "name": "username",
                                "type": "text",
                                "label": "Username"
                            },
                            {
                                "name": "color",
                                "type": "color",
                                "label": "Color"
                            },
                            {
                                "name": "profilePicture",
                                "type": "text",
                                "label": "Profile Picture"
                            },
                            {
                                "name": "email",
                                "type": "text",
                                "label": "Email"
                            }
                        ],
                        "type": "collection",
                        "label": "Creator"
                    },
                    {
                        "name": "assignees",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "number",
                                    "label": "User ID"
                                },
                                {
                                    "name": "username",
                                    "type": "text",
                                    "label": "Username"
                                },
                                {
                                    "name": "color",
                                    "type": "color",
                                    "label": "Color"
                                },
                                {
                                    "name": "initials",
                                    "type": "text",
                                    "label": "Initials"
                                },
                                {
                                    "name": "profilePicture",
                                    "type": "url",
                                    "label": "Profile Picture"
                                },
                                {
                                    "name": "email",
                                    "type": "email",
                                    "label": "Email"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Assignees"
                    },
                    {
                        "name": "checklists",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "task_id",
                                "type": "text",
                                "label": "Task ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "date_created",
                                "type": "date",
                                "label": "Date Created"
                            },
                            {
                                "name": "orderindex",
                                "type": "number",
                                "label": "Orderindex"
                            },
                            {
                                "name": "creator",
                                "type": "number",
                                "label": "Creator"
                            },
                            {
                                "name": "resolved",
                                "type": "number",
                                "label": "Resolved"
                            },
                            {
                                "name": "unresolved",
                                "type": "number",
                                "label": "Unresolved"
                            },
                            {
                                "name": "items",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "orderindex",
                                            "type": "number",
                                            "label": "Orderindex"
                                        },
                                        {
                                            "name": "assignee",
                                            "type": "text",
                                            "label": "Assignee"
                                        },
                                        {
                                            "name": "group_assignee",
                                            "type": "text",
                                            "label": "Group Assignee"
                                        },
                                        {
                                            "name": "resolved",
                                            "type": "boolean",
                                            "label": "Resolved"
                                        },
                                        {
                                            "name": "parent",
                                            "type": "text",
                                            "label": "Parent"
                                        },
                                        {
                                            "name": "date_created",
                                            "type": "date",
                                            "label": "Date Created"
                                        },
                                        {
                                            "name": "children",
                                            "type": "array",
                                            "label": "Children"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Items"
                            }
                        ],
                        "type": "array",
                        "label": "Checklists"
                    },
                    {
                        "name": "watchers",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "number",
                                    "label": "User ID"
                                },
                                {
                                    "name": "username",
                                    "type": "text",
                                    "label": "Username"
                                },
                                {
                                    "name": "color",
                                    "type": "color",
                                    "label": "Color"
                                },
                                {
                                    "name": "initials",
                                    "type": "text",
                                    "label": "Initials"
                                },
                                {
                                    "name": "profilePicture",
                                    "type": "url",
                                    "label": "Profile Picture"
                                },
                                {
                                    "name": "email",
                                    "type": "email",
                                    "label": "Email"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Watchers"
                    },
                    {
                        "name": "tags",
                        "spec": {
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "creator",
                                    "type": "text",
                                    "label": "Creator"
                                },
                                {
                                    "name": "tag_fg",
                                    "type": "color",
                                    "label": "Tag Fg"
                                },
                                {
                                    "name": "tag_bg",
                                    "type": "color",
                                    "label": "Tag Bg"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Tags"
                    },
                    {
                        "name": "parent",
                        "type": "text",
                        "label": "Parent"
                    },
                    {
                        "name": "linked_tasks",
                        "spec": {
                            "spec": [
                                {
                                    "name": "task_id",
                                    "type": "text",
                                    "label": "Task ID"
                                },
                                {
                                    "name": "link_id",
                                    "type": "text",
                                    "label": "Link ID"
                                },
                                {
                                    "name": "date_created",
                                    "type": "date",
                                    "label": "Date Created"
                                },
                                {
                                    "name": "userid",
                                    "type": "text",
                                    "label": "User ID"
                                },
                                {
                                    "name": "workspace_id",
                                    "type": "text",
                                    "label": "Workspace ID"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Linked Tasks"
                    },
                    {
                        "name": "permission_level",
                        "type": "text",
                        "label": "Permission Level"
                    },
                    {
                        "name": "priority",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "priority",
                                "type": "text",
                                "label": "Priority"
                            },
                            {
                                "name": "color",
                                "type": "color",
                                "label": "Color"
                            },
                            {
                                "name": "orderindex",
                                "type": "text",
                                "label": "Order Index"
                            }
                        ],
                        "type": "collection",
                        "label": "Priority"
                    },
                    {
                        "name": "due_date",
                        "type": "date",
                        "label": "Due Date"
                    },
                    {
                        "name": "start_date",
                        "type": "date",
                        "label": "Start Date"
                    },
                    {
                        "name": "points",
                        "type": "text",
                        "label": "Points"
                    },
                    {
                        "name": "time_estimate",
                        "type": "integer",
                        "label": "Time Estimate (in minutes)"
                    },
                    {
                        "name": "time_spent",
                        "type": "uinteger",
                        "label": "Time Spent"
                    },
                    {
                        "name": "list",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "List ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "List Name"
                            },
                            {
                                "name": "access",
                                "type": "boolean",
                                "label": "Access"
                            }
                        ],
                        "type": "collection",
                        "label": "List"
                    },
                    {
                        "name": "project",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Project ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Project Name"
                            },
                            {
                                "name": "hidden",
                                "type": "boolean",
                                "label": "Hidden"
                            },
                            {
                                "name": "access",
                                "type": "boolean",
                                "label": "Access"
                            }
                        ],
                        "type": "collection",
                        "label": "Project"
                    },
                    {
                        "name": "folder",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Folder Name"
                            },
                            {
                                "name": "hidden",
                                "type": "boolean",
                                "label": "Hidden"
                            },
                            {
                                "name": "access",
                                "type": "boolean",
                                "label": "Access"
                            }
                        ],
                        "type": "collection",
                        "label": "Folder"
                    },
                    {
                        "name": "space",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Space ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Space"
                    },
                    {
                        "name": "dependencies",
                        "spec": {
                            "spec": [
                                {
                                    "name": "task_id",
                                    "type": "text",
                                    "label": "Task ID"
                                },
                                {
                                    "name": "depends_on",
                                    "type": "text",
                                    "label": "Depends On Task ID"
                                },
                                {
                                    "name": "type",
                                    "type": "number",
                                    "label": "Type"
                                },
                                {
                                    "name": "date_created",
                                    "type": "date",
                                    "label": "Date Created"
                                },
                                {
                                    "name": "userid",
                                    "type": "text",
                                    "label": "User ID"
                                },
                                {
                                    "name": "workspace_id",
                                    "type": "text",
                                    "label": "Workspace ID"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Dependencies"
                    },
                    {
                        "name": "team_id",
                        "type": "text",
                        "label": "Workspace ID"
                    },
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                    },
                    {
                        "name": "custom_fields_original",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "type_config",
                                    "spec": [],
                                    "type": "collection",
                                    "label": "Type Config"
                                },
                                {
                                    "name": "date_created",
                                    "type": "date",
                                    "label": "Date Created"
                                },
                                {
                                    "name": "hide_from_guests",
                                    "type": "boolean",
                                    "label": "Hide From Guests"
                                },
                                {
                                    "name": "value",
                                    "type": "any",
                                    "label": "Value"
                                },
                                {
                                    "name": "required",
                                    "type": "boolean",
                                    "label": "Required"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Custom Fields (original)"
                    },
                    {
                        "name": "custom_fields",
                        "label": "Custom Fields",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "Lead Company",
                                "label": "Lead Company",
                                "type": "any"
                            },
                            {
                                "name": "Lead Email",
                                "label": "Lead Email",
                                "type": "text"
                            },
                            {
                                "name": "Lead Title",
                                "label": "Lead Title",
                                "type": "any"
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "url": "http://{{get(split(2.leadEmail; \"@\"); 2)}}",
                "serializeUrl": false,
                "method": "get",
                "headers": [],
                "qs": [],
                "bodyType": "",
                "parseResponse": false,
                "authUser": "",
                "authPass": "",
                "timeout": "",
                "shareCookies": false,
                "ca": "",
                "rejectUnauthorized": true,
                "followRedirect": true,
                "useQuerystring": false,
                "gzip": true,
                "useMtls": false,
                "followAllRedirects": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "messages": [
                        {
                            "category": "reference",
                            "severity": "error",
                            "message": "Module references non-existing module '2'."
                        }
                    ]
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "qs": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "qs",
                        "type": "array",
                        "label": "Query String",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "regexp:HTMLToText",
            "version": 1,
            "parameters": {},
            "mapper": {
                "html": "{{4.data}}",
                "newline": "lf",
                "uppercaseHeadings": true
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "newline": {
                            "label": "LF (\\n) - Unix/Mac OS X"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "html",
                        "type": "text",
                        "label": "HTML"
                    },
                    {
                        "name": "newline",
                        "type": "select",
                        "label": "Line break",
                        "required": true,
                        "validate": {
                            "enum": [
                                "lf",
                                "crlf",
                                "cr"
                            ]
                        }
                    },
                    {
                        "name": "uppercaseHeadings",
                        "type": "boolean",
                        "label": "Uppercase headings",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3303632
            },
            "mapper": {
                "select": "chat",
                "temperature": "1",
                "top_p": "1",
                "n_completions": "1",
                "model": "gpt-4-0613",
                "max_tokens": "2048",
                "messages": [
                    {
                        "role": "user",
                        "content": "You are an expert business analyst specializing in identifying key revenue drivers for companies based on their website content."
                    },
                    {
                        "role": "user",
                        "content": "Analyze the data to identify how the company generates revenue by addressing the following:\n\nWhat products or services are the main sources of revenue?What pricing models are used (e.g., subscription, one-time purchase, etc.)?\n\nWhat customer pain points are solved, leading to purchases or conversions?Which features or services seem to drive the most value or are most emphasized in customer testimonials and case studies?\n\nWhat calls to action (CTAs) or conversion points are used to generate revenue?\n\nBased on these insights, summarize and output only the company's revenue-generating value proposition in a clear and concise way."
                    },
                    {
                        "role": "user",
                        "content": "{{5.text}}"
                    }
                ],
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0,
                    "name": "Retrieve Main Rev-Generating Activities"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "APIAUG08",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "stop": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4-0613"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "type": "array",
                        "label": "Token Probability",
                        "spec": {
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability",
                            "name": "value"
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        },
                        "spec": {
                            "type": "text",
                            "label": "Stop Sequence",
                            "name": "value"
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "type": "array",
                        "label": "Other Input Parameters",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter",
                            "name": "value"
                        }
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": {
                            "label": "Message",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "required": true,
                                    "options": {
                                        "store": [
                                            {
                                                "label": "System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            ],
                            "name": "value"
                        }
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": {
                            "spec": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "index",
                                    "type": "number",
                                    "label": "Index"
                                },
                                {
                                    "name": "logprobs",
                                    "type": "text",
                                    "label": "Log Probs"
                                },
                                {
                                    "name": "finish_reason",
                                    "type": "text",
                                    "label": "Finish Reason"
                                },
                                {
                                    "name": "message",
                                    "spec": [
                                        {
                                            "name": "role",
                                            "type": "text",
                                            "label": "Role"
                                        },
                                        {
                                            "name": "content",
                                            "type": "text",
                                            "label": "Content"
                                        },
                                        {
                                            "name": "refusal",
                                            "type": "text",
                                            "label": "Refusal"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Message"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3303632
            },
            "mapper": {
                "select": "chat",
                "temperature": "1",
                "top_p": "1",
                "n_completions": "1",
                "model": "gpt-4-0613",
                "max_tokens": "2048",
                "messages": [
                    {
                        "role": "system",
                        "content": "You are an expert business analyst specializing in identifying key revenue drivers for companies based on their website content."
                    },
                    {
                        "role": "user",
                        "content": "Analyze the provided company data to identify a specific case study or success story that demonstrates how the company helped their customer.\nAddress the following:\n\nWhich customer pain points were solved, leading to the successful use of the company’s products or services?\n\nWhich products or services played a key role in generating revenue during this case study?\n\nWhat were the measurable results achieved after the company implemented its solutions (e.g., improved operational efficiency, cost savings, increased revenue)?\n\nWhat features or services seemed to drive the most value for the customer in this case?\n\nWere there any testimonials or feedback from the client that highlight the impact of the solutions?\n\nBased on these insights, output only the case study, focusing on the customer's challenges, the solutions provided, and the measurable results achieved."
                    },
                    {
                        "role": "user",
                        "content": "{{5.text}}"
                    }
                ],
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "Retrieve Case Study"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "APIAUG08",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "stop": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4-0613"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "type": "array",
                        "label": "Token Probability",
                        "spec": {
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability",
                            "name": "value"
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        },
                        "spec": {
                            "type": "text",
                            "label": "Stop Sequence",
                            "name": "value"
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "type": "array",
                        "label": "Other Input Parameters",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter",
                            "name": "value"
                        }
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": {
                            "label": "Message",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "required": true,
                                    "options": {
                                        "store": [
                                            {
                                                "label": "System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            ],
                            "name": "value"
                        }
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": {
                            "spec": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "index",
                                    "type": "number",
                                    "label": "Index"
                                },
                                {
                                    "name": "logprobs",
                                    "type": "text",
                                    "label": "Log Probs"
                                },
                                {
                                    "name": "finish_reason",
                                    "type": "text",
                                    "label": "Finish Reason"
                                },
                                {
                                    "name": "message",
                                    "spec": [
                                        {
                                            "name": "role",
                                            "type": "text",
                                            "label": "Role"
                                        },
                                        {
                                            "name": "content",
                                            "type": "text",
                                            "label": "Content"
                                        },
                                        {
                                            "name": "refusal",
                                            "type": "text",
                                            "label": "Refusal"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Message"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3303632
            },
            "mapper": {
                "select": "chat",
                "temperature": "0.5",
                "top_p": "1",
                "n_completions": "1",
                "model": "gpt-4-0613",
                "max_tokens": "4090",
                "messages": [
                    {
                        "role": "system",
                        "content": "You are a helpful intelligent writing assistant"
                    },
                    {
                        "role": "user",
                        "content": "Below are information about a lead that's interested in our marketing services. Use it to customize an email reply to them. Write in a short, succinct way. Use this template (filling in the variables with data provided). Do not output anything except for the email copy. \n\nHere is the information about our lead:\nScraped Company Website: {{6.result}}\n\nTemplate:\n\nThanks for getting back to me {{2.leadFirstName}},\nI have an idea to target [Their Ideal Client Profile - e.g., SaaS companies, ecommerce brands, local businesses].\n\nRight when they're discussing [marketing pain point - e.g., low conversion rates, poor ROI on ads, lack of qualified leads].\n\nThe best way to do that is by sharing your proven approach—just like you did with [Reference Client/Case Study Result While Including $]\n\n(I have the marketing automation tools and analytics systems to be this specific.)\n\nIt's the perfect excuse to reach out—the pitch being that we can help them [specific marketing outcome - e.g., increase conversion rates by X%, reduce cost per lead, boost ROI]. And it's even more impressive when you run all this automatically.\n\nLooking forward to hearing from you!\n\n- Saad\n\nSent from iPhone"
                    }
                ],
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0,
                    "name": "AI Inbox Manager",
                    "messages": [
                        {
                            "category": "reference",
                            "severity": "error",
                            "message": "Module references non-existing module '2'."
                        }
                    ]
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "APIAUG08",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "stop": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4-0613"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "type": "array",
                        "label": "Token Probability",
                        "spec": {
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability",
                            "name": "value"
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        },
                        "spec": {
                            "type": "text",
                            "label": "Stop Sequence",
                            "name": "value"
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "type": "array",
                        "label": "Other Input Parameters",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter",
                            "name": "value"
                        }
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": {
                            "label": "Message",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "required": true,
                                    "options": {
                                        "store": [
                                            {
                                                "label": "System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            ],
                            "name": "value"
                        }
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": {
                            "spec": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "index",
                                    "type": "number",
                                    "label": "Index"
                                },
                                {
                                    "name": "logprobs",
                                    "type": "text",
                                    "label": "Log Probs"
                                },
                                {
                                    "name": "finish_reason",
                                    "type": "text",
                                    "label": "Finish Reason"
                                },
                                {
                                    "name": "message",
                                    "spec": [
                                        {
                                            "name": "role",
                                            "type": "text",
                                            "label": "Role"
                                        },
                                        {
                                            "name": "content",
                                            "type": "text",
                                            "label": "Content"
                                        },
                                        {
                                            "name": "refusal",
                                            "type": "text",
                                            "label": "Refusal"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Message"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 9,
            "module": "slack:CreateMessage",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 3676195
            },
            "mapper": {
                "channelWType": "list",
                "blocks": "{\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"New Lead Generated 🚀\\n*<https://app.clickup.com/t/{{3.id}}|{{3.name}} - {{3.custom_fields.`Lead Company`}}>*\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"fields\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Lead Email:*\\n{{3.custom_fields.`Lead Email`}}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*When:*\\n{{formatDate(now; \"YYYY-MM-DD hh:mm A\")}}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Title:*\\n{{3.custom_fields.`Lead Title`}}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Sales Rep:*\\n{{3.assignees[].username}}\"\n\t\t\t\t}\n\t\t\t]\n\t\t}\n\t]\n}",
                "parse": false,
                "mrkdwn": true,
                "channelType": "public",
                "channel": "C07PHJQSNQN"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Slack (bot) connection (saads_cool_app)",
                            "data": {
                                "scoped": "true",
                                "connection": "slack3"
                            }
                        }
                    },
                    "expect": {
                        "channelWType": {
                            "label": "Select from the list"
                        },
                        "reply_broadcast": {
                            "mode": "chose"
                        },
                        "link_names": {
                            "mode": "chose"
                        },
                        "parse": {
                            "mode": "chose"
                        },
                        "mrkdwn": {
                            "mode": "chose"
                        },
                        "unfurl_links": {
                            "mode": "chose"
                        },
                        "unfurl_media": {
                            "mode": "chose"
                        },
                        "channelType": {
                            "label": "Public channel"
                        },
                        "channel": {
                            "mode": "chose",
                            "label": "central"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:slack2,slack3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "channelWType",
                        "type": "select",
                        "label": "Enter a channel ID or name",
                        "required": true,
                        "validate": {
                            "enum": [
                                "manualy",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    },
                    {
                        "name": "blocks",
                        "type": "text",
                        "label": "Blocks"
                    },
                    {
                        "name": "thread_ts",
                        "type": "text",
                        "label": "Thread message ID (time stamp)"
                    },
                    {
                        "name": "reply_broadcast",
                        "type": "boolean",
                        "label": "Reply broadcast"
                    },
                    {
                        "name": "link_names",
                        "type": "boolean",
                        "label": "Link names"
                    },
                    {
                        "name": "parse",
                        "type": "boolean",
                        "label": "Parse message text"
                    },
                    {
                        "name": "mrkdwn",
                        "type": "boolean",
                        "label": "Use markdown"
                    },
                    {
                        "name": "unfurl_links",
                        "type": "boolean",
                        "label": "Unfurl primarily text-based content"
                    },
                    {
                        "name": "unfurl_media",
                        "type": "boolean",
                        "label": "Unfurl media content"
                    },
                    {
                        "name": "icon_emoji",
                        "type": "text",
                        "label": "Icon emoji"
                    },
                    {
                        "name": "icon_url",
                        "type": "url",
                        "label": "Icon url"
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "channelType",
                        "type": "select",
                        "label": "Channel type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "public",
                                "private",
                                "im",
                                "mpim"
                            ]
                        }
                    },
                    {
                        "name": "channel",
                        "type": "select",
                        "label": "Public channel",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "slack:CreateMessage",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 3676195
            },
            "mapper": {
                "channelWType": "list",
                "text": "Lead has been added to the Clickup list\n\nHere is the lead's reply:\n{{2.leadReply}}\n\nHere is your AI generated reply🤖:\n{{8.result}}",
                "parse": false,
                "mrkdwn": true,
                "channelType": "public",
                "channel": "C07PHJQSNQN"
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0,
                    "messages": [
                        {
                            "category": "reference",
                            "severity": "error",
                            "message": "Module references non-existing module '2'."
                        }
                    ]
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Slack (bot) connection (saads_cool_app)",
                            "data": {
                                "scoped": "true",
                                "connection": "slack3"
                            }
                        }
                    },
                    "expect": {
                        "channelWType": {
                            "label": "Select from the list"
                        },
                        "reply_broadcast": {
                            "mode": "chose"
                        },
                        "link_names": {
                            "mode": "chose"
                        },
                        "parse": {
                            "mode": "chose"
                        },
                        "mrkdwn": {
                            "mode": "chose"
                        },
                        "unfurl_links": {
                            "mode": "chose"
                        },
                        "unfurl_media": {
                            "mode": "chose"
                        },
                        "channelType": {
                            "label": "Public channel"
                        },
                        "channel": {
                            "mode": "chose",
                            "label": "central"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:slack2,slack3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "channelWType",
                        "type": "select",
                        "label": "Enter a channel ID or name",
                        "required": true,
                        "validate": {
                            "enum": [
                                "manualy",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    },
                    {
                        "name": "blocks",
                        "type": "text",
                        "label": "Blocks"
                    },
                    {
                        "name": "thread_ts",
                        "type": "text",
                        "label": "Thread message ID (time stamp)"
                    },
                    {
                        "name": "reply_broadcast",
                        "type": "boolean",
                        "label": "Reply broadcast"
                    },
                    {
                        "name": "link_names",
                        "type": "boolean",
                        "label": "Link names"
                    },
                    {
                        "name": "parse",
                        "type": "boolean",
                        "label": "Parse message text"
                    },
                    {
                        "name": "mrkdwn",
                        "type": "boolean",
                        "label": "Use markdown"
                    },
                    {
                        "name": "unfurl_links",
                        "type": "boolean",
                        "label": "Unfurl primarily text-based content"
                    },
                    {
                        "name": "unfurl_media",
                        "type": "boolean",
                        "label": "Unfurl media content"
                    },
                    {
                        "name": "icon_emoji",
                        "type": "text",
                        "label": "Icon emoji"
                    },
                    {
                        "name": "icon_url",
                        "type": "url",
                        "label": "Icon url"
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "channelType",
                        "type": "select",
                        "label": "Channel type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "public",
                                "private",
                                "im",
                                "mpim"
                            ]
                        }
                    },
                    {
                        "name": "channel",
                        "type": "select",
                        "label": "Public channel",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}